.music-list-detail__top {
  padding: 2rem 3rem;
  display: flex;
  color: #fff;
  /* background-image: linear-gradient(to bottom right, #592b33, #2e161a); */
  background-color: #51272d;
}
.music-list-detail__coverImg {
  height: 23rem;
  width: 23rem;
  display: block;
}

.music-list-detail__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem 0.2rem;
}

.music-list-detail__title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.music-list-detail__name {
  font-size: 8rem;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: -3px;
}

.music-list-detail__desc {
  color: #ac9d94;
  font-size: 1.5rem;
}

/* music-list-detail__btn */

.music-list-detail__btn {
  margin: 2rem 3rem;
  display: flex;
  align-items: center;

  color: #fff;
}

.music-list-detail__songs {
  color: #fff;
  width: 100%;
}

.music-list-detail__head {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 0.5rem 2rem;
  margin: 1rem 3rem;
  border-bottom: .5px solid #222c30;
}

.music-list-detail__order {
  width: 3%;
}


.music-list-detail__label {
  width: 57%;
}

.music-list-detail__singer {
  width: 30%;
}

.music-list-detail__duration {
  width: 10%;
  text-align: right;
}

.music-list-detail__songs--wrapper {
  display: flex;
  flex-direction: column;
}